.gradx .gradx_hide {
  display: none;
}

.gradx {
  position: relative;
  background: #FAFAFA;
  background: -moz-linear-gradient(top, #FAFAFA 0%, #DFDFDF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#DFDFDF));
  background: -webkit-linear-gradient(top, #FAFAFA 0%,#DFDFDF 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%,#DFDFDF 100%);
  background: -ms-linear-gradient(top, #FAFAFA 0%,#DFDFDF 100%);
  background: linear-gradient(top, #FAFAFA 0%,#DFDFDF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dfdfdf',GradientType=0 );
  border: 2px solid #dfdfdf;
  padding: 5px;
  font-weight: normal;
  float: left;
}

.gradx .gradx_controls_row{
  height: 40%;
}

.gradx .gradx_container {
  padding: 1%;
  background: white;
  padding-left: 2%;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  height: 65%;
}

.gradx .gradx_panel {
  width: 98%;
  height: 70%;
  border: 1px solid #ccc;
}

.gradx .gradx_start_sliders {
  width: 100%;
  margin-top: 5px;
  margin-left: -0.4em;
  background: whitesmoke;
  height: 20%;
  box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;
  -webkit-box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;
  -moz-box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;
  -o-box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;
  border: 1px solid #f1f1f1;
}

.gradx .gradx_slider {
  position: absolute;
  left: 0px;
  width: 10px;
  height: 10px;
  background: red;
  border: 1px solid black;
  display: inline-block;
  opacity: 0.6;
}

.gradx .gradx_slider:hover {
  opacity: 1;
  cursor: move;
}

.gradx .gradx_slider:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 4px;
  border-style: solid;
  border-width: 60px 1px 0px 0px;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 1;
}

.gradx .gradx_slider_info {
  display: none;
  border: 1px solid #ccc;
  padding: 2px;
  background: #f1f1f1;
}

.gradx .gradx_slider_controls {
  margin-left: 15px;
  padding-top:4px;
  padding-bottom: 4px;
}

/* Common stuff */
.gradx .picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}
.gradx .picker-indicator,
.gradx .slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.gradx .picker,
.gradx .slide {
  cursor: crosshair;
  float: left;
}

/* Default skin */

.gradx .cp-default {
  border-radius: 6px;
  float: left;
  margin-top: 13px;
  margin-left: -96px;
  position: absolute;
  z-index: 10000;
}

.gradx .cp-default .picker {
  width: 200px;
  height: 200px;
}
.gradx .cp-default .slide {
  width: 30px;
  height: 200px;
}
.gradx .cp-default .slide-wrapper {
  margin-left: 10px;
}
.gradx .cp-default .picker-indicator {
  width: 5px;
  height: 5px;
  border: 2px solid darkblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  background-color: white;
}
.gradx .cp-default .slide-indicator {
  width: 100%;
  height: 10px;
  left: -4px;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  border: 4px solid black;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #333;
}